# ── Clés privées ─────────────────────────────────────────────────────────────
kdeconnect/

# ── Navigateurs ───────────────────────────────────────────────────────────────
mozilla/
chromium/
google-chrome/
BraveSoftware/

# ── Apps avec tokens d'auth ───────────────────────────────────────────────────
discord/
vesktop/
spotify/
teams-for-linux/
figma-linux-next/

# ── Données d'app (pas de config utile) ──────────────────────────────────────
onlyoffice/
dconf/
pulse/
VSCodium/
Bitwarden/
jellyfin-desktop/

# ── Développement ──────────────────────────────────────
composer/